* {padding: 0; margin: 0; list-style: none; box-sizing: border-box;}
a {text-decoration: none;}
img {max-width: 100%; height: auto;}

/* 홈페이지 메인컬러 : #00d344 */


/* 최상단 헤더 */
#header {border-top: 3px solid #00d344;}
#header .wrap {border-bottom: 1px solid #999;}
#header .wrap .top {overflow: hidden; width: 1008px; margin: 0 auto;}
#header .wrap .top .top_left { float: left; padding: 10px 7px; color: #999; font-size: 12px;}
#header .wrap .top .top_right { float: right;}
.top_right ul li { display: inline; border-left: 1px solid #999; font-size: 12px;}
.top_right ul li a { display: inline-block; font-weight: 700; color: #999; padding: 10px 7px;}
.top_right ul li a:hover { font-weight: 800; color: black;}

/* 중간 헤더 */
#header .mid {overflow: hidden; width: 1008px; margin: 0 auto;}
#header .mid .logo {float: left;}

#header .mid fieldset {
    overflow: hidden;
    float: left;
    width: 322px;
    height: 40px;
    margin: 40px 0 0 11px;
    border: none;
    background-image: url(img/melonsearch.png);
}
#header .mid fieldset input {
    float: left;
    width: 250px;
    height: 20px;
    margin: 10px 0 0 13px;
    border: none;
    cursor: pointer;
}
#header .mid fieldset button {
    float: right;
    background-image: url(img/melon_btn.png);
    width: 45px;
    height: 40px;
    border: none;
    background-color: white;
}
#header .mid .mid_ad {
    float: right;
    margin-top: 10px;
}

/* 맨 아래 헤더 */
#header .bottom {width: 1008px; margin: 0 auto; overflow: hidden;}

#header .bottom ul li {display: inline; padding-right: 15px; float: left;}
#header .bottom .bottom_right {float: right; }
#header .bottom ul li a {display: inline-block; color: black; text-align: center; font-size: 15px; width: 75px; height: 40px;}
#header .bottom ul li a:hover {color: #00d344;}





/* 최상단 섹션 */
/* 
section .board {width: 1008px; margin: 0 auto; float: left;}
section .board h6 {margin-top: 30px;}

section .content {overflow: hidden;}

.content .album_list { width: 480px; float: left;}
.content .slide_wrap { width: 236px; float: left; margin-left: 8px;}
.content .user_wrap { width: 280px; float: left; border: 1px; margin-left: 8px;}

.album_list {overflow: hidden;}
.album_list ul li {float: left; width: 33.3333%; height: 155px;}
.album_list ul li a {display: inline-block; position: relative;}
.album_list ul li a:hover {opacity: 0.5; border: none;}

.user_wrap {background-color: white; height: 115px; padding: 0 17px; border: 1px solid #777; text-align: center;}
.user_wrap .top_1 {padding: 24px 0 15px 0;}
.user_wrap .top_1 .left {float: left;}
.user_wrap .top_1 .right {float: right;}

section .slide_wrap {
    width: 236px;
    float: left;
    margin-left: 4px;
} */

section .wrap{width:1008px;margin:0 auto; overflow: hidden;}
section .wrap h6{margin-top:30px}

section .conts{overflow:hidden}
section .list_wrap{width:480px;float:left;}
section .slide_wrap{width:236px;float:left;margin-left:4px}
section .user_wrap{width:280px;float:left;margin-left:8px}

section .list_wrap ul{overflow:hidden;}
section .list_wrap ul li{float:left;width:33.3333%;position:relative}
section .list_wrap ul li a{display:inline-block;position:relative;}
section .list_wrap ul li a .singer{
    position:absolute;
    left:0;
    bottom:5px;
    width:100%;
    height:22px;
    line-height:22px;
    z-index:10;
    background-color:#000;
    opacity:.9; 
    color:#fff;
    text-align:center;
    font-size:12px;
    z-index:9;
}
/* a태그로 설정하면 안의 내용이 전부 보이게 되므로 li에서 보이고 싶은 내용만 클래스로 설정해서 따로 사용 */
section .list_wrap ul li .hover_cont{
    /* 사진의 위쪽에 떠야하므로 포지션을 이용해서 사용 */
    position:absolute;
    top:0;
    left:0;

    width:156px;
    height:156px;
    /* 여기서 배경색상을 선택할 때 투명도를 높이면 뒤에 사진이 보이게된다. */
    background-color:rgba(70, 155, 60, 0.523);
    color:#fff;
    font-size:14px;
    font-weight:600;
    text-align:center;
    /* 투명도 */
    opacity:0;
    /* 불투명 창이 뜨는 속도조절 */
    transition:opacity 0.5s ease-in-out;
}
/* li태그에 가져다대면 hover_cont 클래스 적용 */
section .list_wrap ul li:hover .hover_cont{
    opacity:1
}
section .list_wrap ul li .hover_cont a{
    color:#fff;
    position:absolute;
    width:118px;
    height:18px;
    top:60px;
    left:19px;
    display: block;
}


.login_wrap{background-color:#fbfbfb;height:115px;padding:0 17px;border:1px solid #e0e0e0;text-align:center}
.login_wrap .top_area{padding:20px 0 10px 0}
.login_wrap .top_area .left,.login_wrap .top_area .right{font-size:11px;color:#939393}
.login_wrap .top_area .left{float:left}
.login_wrap .top_area .right{float:right}
.login_wrap button{width:100%;height:42px;background-color:#00d344;color:#fff;border:none;margin-top:10px}


.promotion_wrap{margin-top:10px}

.main_banner {margin: 20px 0 20px 0;}


.wrap .issue{
    float: left;
    width: 708px;
}
.wrap .chart {
    float: left;
    width: 280px;
}

.wrap .issue ul {overflow: hidden; width: 720px;}
.wrap .issue ul li {float: left; margin: 16px 0 0 16px; width: 223px;}

.issue h4 { border-bottom: 1px solid #dfe6e8; padding: 5px 0px;}
.issue h4 span {font-size: 6px; color: #999;}

.issue_content a span{ display: block; margin-top: 5px;}
.issue_content .title{
    font-size: 15px;
    color: #000;
}
.issue_content .content {
    font-size: 11px;
    color: #999;
}
.issue_content .hit { font-size: 10px; color: #00d344;}
.issue_content .hit span {margin-left: 5px; color: #999;}

.issue img { width: 223px; height: 148px; margin-top: 10px;}




